@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--color-primary: #6fb0ff;
	--font-family-geist:
		'Geist', system-ui, -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue',
		'Arial', sans-serif;
	--font-family-geist-mono: 'GeistMono', monospace;
}

@font-face {
	font-family: 'GeistMono';
	src: url('/GeistMono[wght].ttf') format('truetype-variations');
	font-weight: 100 900; /* Specify the full range of weights */
	font-style: normal;
}

@font-face {
	font-family: 'Geist';
	src: url('/Geist[wght].ttf') format('truetype-variations');
	font-weight: 100 900; /* Specify the full range of weights */
	font-style: normal;
}

body {
	@apply bg-neutral-900 text-neutral-100;
}
